* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 1px;
  background-color: rgb(207, 207, 228);
}

.home {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.add-student,
.mentor-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
.add-student-form,
.addmentor-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  background-color: gainsboro;
  border-radius: 10px;
  box-shadow: 2px 1px 20px 0px rgba(0, 0, 0, 0.75);
  height: 400px;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  padding: 3px;
}

.student-table,.mentor-table {
  width: 80%;
  margin: 40px auto;
  background: rgba( 172, 223, 229, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 2.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

table.list{
  text-align: center;
  width: 100%;
}

td{
  border: 1px solid rgb(204,200,200);
  text-align: left;
  padding: 8px 15px;
}

tr:nth-child(even),table.list thead{
  background-color: rgb(204,200,200);
}
tr:hover{
  background-color: rgb(155, 164, 165);
  transform: scale(1.01);
  box-shadow: 2px 2px 12px rosybrown;
}

@media (max-width:720px){
  td{
      display: flex;
      flex-direction: column;
  }
  table.list{
      display: flex;
      flex-direction: column;
  }
  tbody{
      display: flex;
      flex-direction: row;
  }
}